body {
	font-family: "effra",sans-serif;
	background: #f2f2f2;
	font-size: 2rem;
	color: #3F3F3F;
}

.contain {
	width: 960px;
	margin: 10rem auto 0 auto;
	text-align: center;
}

.logo {
	width: 100px;
	margin: 0 auto 0.2rem auto;

	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	-ms-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

.logo:hover {
	opacity: 0.8;
}

.logo img {
	width: 100%;
}

p { margin: 0;}

.topSpace {
	margin-top: 0.5rem;
}