/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  -webkit-appearance: none; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes loading {
  0% {
    max-height: 0; }

  50% {
    max-height: 100%;
    top: 0;
    background: #262626; }

  100% {
    max-height: 0;
    top: 100%; } }

@-moz-keyframes loading {
  0% {
    max-height: 0; }

  50% {
    max-height: 100%;
    top: 0;
    background: #262626; }

  100% {
    max-height: 0;
    top: 100%; } }

@-o-keyframes loading {
  0% {
    max-height: 0; }

  50% {
    max-height: 100%;
    top: 0;
    background: #262626; }

  100% {
    max-height: 0;
    top: 100%; } }

@keyframes loading {
  0% {
    max-height: 0; }

  50% {
    max-height: 100%;
    top: 0;
    background: #262626; }

  100% {
    max-height: 0;
    top: 100%; } }

.loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 100;
  width: 100%; }
  .loader .spinner {
    display: block;
    width: 50px;
    height: 50px;
    background: #ccc;
    position: relative;
    margin: 25% auto;
    border-radius: 25px;
    overflow: hidden; }
    .loader .spinner:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 50px;
      background: #3f3f3f;
      max-height: 0;
      -webkit-animation: loading 2s normal infinite;
      -moz-animation: loading 2s normal infinite;
      animation: loading 2s normal infinite; }

/*!
 * Fotorama 4.3.4.1 | http://fotorama.io/license/
 */
.fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__html, .fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.fotorama--fullscreen, .fotorama__img {
  max-width: 99999px !important;
  max-height: 99999px !important;
  min-width: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0; }

.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.fotorama__img, .fotorama__oooo {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important; }

.fotorama__img {
  margin: -50% 0 0 -50%;
  width: 100%;
  height: 100%; }

.fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__stage__frame, .fotorama__wrap--css3 .fotorama__nav__frame, .fotorama__wrap--css3 .fotorama__img, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__caption, .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fotorama__wrap--video .fotorama__stage__shaft, .fotorama__wrap--video .fotorama__stage__frame--video {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }

.fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__thumb-border {
  -webkit-transition-property: -webkit-transform,width;
  transition-property: transform,width;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms; }

.fotorama__wrap, .fotorama__no-select, .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close, .fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.fotorama__nav, .fotorama__nav__frame {
  margin: 0;
  padding: 0; }

.fotorama__nav__shaft, .fotorama__nav__frame {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1; }

.fotorama__wrap * {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.fotorama__caption {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1; }

.fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__nav, .fotorama__nav__shaft, .fotorama__nav__frame, .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fotorama__arr__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
  background: url(../img/fotorama.png) no-repeat; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .fotorama__arr__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
    background: url(../img/fotorama@2x.png) no-repeat;
    background-size: 96px 160px; } }
.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127, 127, 127, 0.2); }

.fotorama {
  min-width: 1px;
  overflow: hidden; }

.fotorama > * {
  visibility: hidden; }

.fotorama.fotorama--noscript > *, .fotorama > .fotorama__wrap {
  visibility: visible; }

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background: #000; }

.fotorama--fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  float: none !important;
  z-index: 2147483647 !important;
  background: #000;
  width: 100% !important;
  height: 100% !important; }

.fotorama--fullscreen .fotorama__stage, .fotorama--fullscreen .fotorama__nav {
  background: #000; }

.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative; }

.fotorama__stage, .fotorama__nav {
  overflow: hidden;
  position: relative; }

.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y; }

.fotorama__wrap .fotorama__pointer {
  cursor: pointer; }

.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important; }

.fotorama__stage__frame {
  overflow: hidden; }

.fotorama__stage__frame.fotorama__active {
  z-index: 8; }

.fotorama__wrap--fade .fotorama__stage__frame {
  display: none; }

.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active, .fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear {
  display: block;
  left: 0;
  top: 0; }

.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8; }

.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7; }

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9; }

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none; }

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: 0; }

.fotorama__loaded .fotorama__img, .fotorama__error .fotorama__img {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.fotorama__img--full {
  display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img {
  display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block; }

.fotorama__stage--only-active .fotorama__stage__frame {
  visibility: hidden; }

.fotorama__stage--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible; }

.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5; }

.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left; }

.fotorama__nav__frame {
  position: relative;
  cursor: pointer; }

.fotorama__nav--dots {
  display: block; }

.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px; }

.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border {
  display: none; }

.fotorama__nav--thumbs {
  display: block; }

.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none; }

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid; }

.fotorama__nav__frame.fotorama__active {
  pointer-events: none;
  cursor: default; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 6px;
  height: 6px;
  border: 0; }

.fotorama__dot {
  border-color: #7f7f7f; }

.fotorama__active .fotorama__dot {
  background-color: #7f7f7f; }

.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background-image: linear, to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1); }

.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  max-width: 100%;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px; }

.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5); }

.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, 0.5); }

.fotorama__wrap--video .fotorama__caption {
  display: none; }

.fotorama__oooo {
  width: 6px;
  height: 6px;
  margin-left: -8px;
  margin-top: -3px; }

.fotorama__oooo:before, .fotorama__oooo:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #bfbfbf;
  background-color: rgba(127, 127, 127, 0.5); }

.fotorama__oooo:before {
  left: -10px; }

.fotorama__oooo .fotorama__oooo {
  margin-left: 17px; }

.fotorama__oooo--1:before, .fotorama__oooo--2:after, .fotorama__oooo--3 .fotorama__oooo:before, .fotorama__oooo--4 .fotorama__oooo:after {
  background-color: #7f7f7f; }

.fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__stage__frame, .fotorama__wrap--css3 .fotorama__nav__frame, .fotorama__wrap--css3 .fotorama__img, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__caption {
  -webkit-backface-visibility: hidden; }

.fotorama__wrap--css3 .fotorama__img, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3.fotorama__wrap--fade .fotorama__stage__frame, .fotorama__wrap--css3 .fotorama__caption {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }

.fotorama__select {
  cursor: auto; }

.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10; }

@-moz-document url-prefix() {
  .fotorama__active {
    box-shadow: 0 0 0 transparent; } }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
  display: block;
  position: absolute;
  z-index: 11;
  cursor: pointer; }

.fotorama__video-play, .fotorama__video-close {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.fotorama__arr {
  width: 48px;
  height: 100%;
  top: 0;
  bottom: 0; }

.fotorama__arr__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px; }

.fotorama__arr--prev {
  left: 0; }

.fotorama__arr--prev .fotorama__arr__arr {
  background-position: 0 0; }

.fotorama__arr--next {
  right: 0; }

.fotorama__arr--next .fotorama__arr__arr {
  background-position: -32px 0; }

.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  *display: none;
  filter: alpha(opacity=0);
  opacity: .1; }

.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: 0 -32px;
  z-index: 20; }

.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -32px; }

.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px; }

.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
  -ms-filter: "alpha(Opacity=100)" !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important; }

.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
  background-position: -64px 0;
  z-index: 20; }

.fotorama__loaded .fotorama__video-play, .fotorama__error .fotorama__video-play {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 11; }

.fotorama__wrap--no-controls .fotorama__arr, .fotorama__wrap--no-controls .fotorama__fullscreen-icon, .fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon {
  -ms-filter: "alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important; }

.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__fullscreen-icon, .fotorama__wrap--video .fotorama__fullscreen-icon {
  top: -32px;
  right: -32px; }

.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--prev, .fotorama__wrap--video .fotorama__arr--prev {
  left: -48px; }

.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--next, .fotorama__wrap--video .fotorama__arr--next {
  right: -48px; }

.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  -ms-filter: "alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
  z-index: -1; }

.fotorama__wrap--video .fotorama__video-close {
  top: 0;
  right: 0;
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__video-play, .fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transition-property: top,right,left,opacity;
  transition-property: top,right,left,opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }

.fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%,5px 100%; }

.fotorama__stage:before, .fotorama__nav:before {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear, false, transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent, radial, farthest-side 0 50%, rgba(0, 0, 0, 0.4), transparent;
  background-position: 0 0,0 0;
  left: -10px; }

.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before {
  left: 0; }

.fotorama__stage:after, .fotorama__nav:after {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear, false, transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent, radial, farthest-side 100% 50%, rgba(0, 0, 0, 0.4), transparent;
  background-position: 100% 0,100% 0;
  right: -10px; }

.fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {
  right: 0; }

.fotorama--fullscreen .fotorama__stage:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after {
  display: none; }

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  padding: 1em;
  margin: .5em 0;
  -webkit-box-shadow: -1px 0px 0px 0px #e74c3c, 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: -1px 0px 0px 0px #e74c3c, 0px 0px 0px 1px #dfdfdf;
  box-shadow: -1px 0px 0px 0px #e74c3c, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #e74c3c;
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -ms-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: -o-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-image: linear, false, transparent 50%, rgba(69, 142, 209, 0.04) 50%;
  background-size: 3em 3em;
  background-origin: content-box;
  overflow: visible;
  max-height: 30em; }

code[class*="language"] {
  max-height: 29em;
  display: block;
  overflow: auto; }

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1); }

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: '';
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  -webkit-box-shadow: 0px 13px 8px #979797;
  -moz-box-shadow: 0px 13px 8px #979797;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99; }

.token.punctuation {
  color: #5F6364; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name {
  color: #c92c2c; }

.token.selector,
.token.attr-name,
.token.string,
.token.function {
  color: #2f9c0a; }

.token.operator,
.token.entity,
.token.url {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8; }

.token.regex,
.token.important {
  color: #e90; }

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.important {
  font-weight: normal; }

.token.entity {
  cursor: help; }

.namespace {
  opacity: .7; }

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }
/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "ff-tisa-web-pro",serif;
  font-size: 140%;
  line-height: 1.5; }
  @media (max-width: 560px) {
    body {
      font-size: 110%; } }

p {
  margin-top: 0;
  margin-bottom: 3.125%; }
  p:last-of-type {
    margin-bottom: 0; }

.published {
  font-style: italic;
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0; }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2; }
  @media (max-width: 560px) {
    h1 {
      font-size: 32px;
      font-size: 2rem; } }

.postTitle {
  margin-bottom: 0; }

h2 {
  font-size: 34px;
  font-size: 2.1rem; }

h2, h3, h4, h5, h6 {
  margin: 0 0 11px 0;
  margin: 0 0 .7rem 0; }

h4, h5, h6 {
  font-size: 26px;
  font-size: 1.6rem; }

.h1 {
  font-size: 40px;
  font-size: 2.5rem; }

.h2 {
  font-size: 34px;
  font-size: 2.1rem; }

.h3, .h4, h5, h6 {
  font-size: 26px;
  font-size: 1.6rem; }

.topBar {
  *zoom: 1;
  position: relative;
  padding: 16px 0;
  padding: 1rem 0;
  border-bottom: 2px solid #555;
  font-size: 19px;
  font-size: 1.2rem; }
  .topBar:before, .topBar:after {
    content: " ";
    display: table; }
  .topBar:after {
    clear: both; }
  @media (max-width: 900px) {
    .topBar {
      text-align: center; } }
  .topBar a {
    display: inline-block;
    width: 160px;
    width: 8rem;
    font-size: 18px;
    font-size: 1.1rem;
    text-align: center;
    border-bottom: none;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
    @media (max-width: 560px) {
      .topBar a {
        display: block;
        margin: 0 auto; } }
    .topBar a:hover {
      color: #8b8b8b; }
  .topBar .left {
    float: left; }
    @media (max-width: 900px) {
      .topBar .left {
        float: none;
        display: block; } }
  .topBar .right {
    float: right; }
    @media (max-width: 900px) {
      .topBar .right {
        float: none;
        display: block; } }
  .topBar nav {
    *zoom: 1; }
    .topBar nav:before, .topBar nav:after {
      content: " ";
      display: table; }
    .topBar nav:after {
      clear: both; }
    .topBar nav .logo {
      position: absolute;
      left: 50%;
      bottom: -4rem;
      bottom: -64px;
      margin-left: -73px; }
      .topBar nav .logo > img {
        width: 100px;
        height: 100px; }
    @media (max-width: 900px) {
      .topBar nav {
        margin: 1rem 0 2.5rem 0; } }
  .topBar .menuToggle {
    display: none;
    position: absolute;
    top: 5px;
    right: 0; }

.navClosed .menuToggle {
  display: inline; }

.homeHeader {
  min-height: 400px;
  padding: 80px 0 0 0;
  padding: 5rem 0 0 0;
  font-size: 26px;
  font-size: 1.6rem;
  color: #d6d6d6;
  background: url(../img/mountains.jpg) no-repeat;
  background-size: cover; }
  @media (max-width: 560px) {
    .homeHeader .tagline {
      font-size: 83%; } }
  .homeHeader .tagline p {
    float: right;
    margin-bottom: 1%; }
  .homeHeader .tagline .authorLine {
    font-style: italic; }

body:not(.home) .main {
  padding-top: 80px;
  padding-top: 5rem; }

form {
  *zoom: 1;
  padding: 16px 0 0 0;
  padding: 1rem 0 0 0; }
  form:before, form:after {
    content: " ";
    display: table; }
  form:after {
    clear: both; }
  form .formSection {
    *zoom: 1;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0; }
    form .formSection:before, form .formSection:after {
      content: " ";
      display: table; }
    form .formSection:after {
      clear: both; }
  form label span {
    color: #e74c3c;
    font-size: 24px;
    font-size: 1.5rem; }
  form label, form input, form textarea {
    float: left;
    clear: left; }
  form input, form textarea {
    max-width: 95%;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 16px;
    font-size: 1rem;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out; }
    form input:focus, form textarea:focus {
      border-color: #e74c3c; }
  form .btn {
    color: #F3F3F3;
    background: #3f3f3f;
    border: none;
    padding: 13px 16px;
    padding: 0.8rem 1rem;
    font-size: 19px;
    font-size: 1.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    form .btn:hover {
      background: #656565; }

form span.wpcf7-not-valid-tip {
  border-color: #e74c3c;
  top: 10px;
  top: 0.6rem;
  left: 40px;
  left: 2.5rem; }
form div.wpcf7-response-output {
  margin: 16px 0;
  margin: 1rem 0; }
form div.wpcf7-validation-errors {
  border-color: #e74c3c; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  color: #3f3f3f; }

::selection {
  background: #d8d8d8; }

.entry {
  padding: 0 0 32px 0;
  padding: 0 0 2rem 0; }

.contain {
  max-width: 1020px;
  margin: 0 auto; }
  @media (max-width: 1020px) {
    .contain {
      padding: 0 24px;
      padding: 0 1.5rem; } }

.contain-type {
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 740px) {
    .contain-type {
      padding: 0 24px;
      padding: 0 1.5rem; } }

a {
  color: #3f3f3f;
  border-bottom: 2px solid #E74C3C;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #e74c3c; }

.blogExcerpt {
  *zoom: 1;
  margin: 16px 0 0 0;
  margin: 1rem 0 0 0;
  padding: 0 0 16px 0;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid #3f3f3f; }
  .blogExcerpt:before, .blogExcerpt:after {
    content: " ";
    display: table; }
  .blogExcerpt:after {
    clear: both; }
  .blogExcerpt h2 {
    margin-bottom: 0; }
  .blogExcerpt .readOn {
    float: right; }

.portfolioTitle {
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 2.5rem; }

.portfolioItem {
  *zoom: 1;
  margin: 16px 0 0 0;
  margin: 1rem 0 0 0;
  padding: 0 0 16px 0;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid #3f3f3f; }
  .portfolioItem:before, .portfolioItem:after {
    content: " ";
    display: table; }
  .portfolioItem:after {
    clear: both; }
  .portfolioItem:last-of-type {
    border-bottom: none; }
  .portfolioItem .portfolioPic {
    position: relative;
    width: 34%;
    float: left;
    margin: 0 3% 0 0; }
    @media (max-width: 740px) {
      .portfolioItem .portfolioPic {
        float: none;
        width: 70%;
        margin: 0 auto 16px auto;
        margin: 0 auto 1rem auto; } }
    .portfolioItem .portfolioPic.imgLoaded img {
      opacity: 1; }
    .portfolioItem .portfolioPic.imgLoaded .loader {
      opacity: 0; }
    .portfolioItem .portfolioPic img {
      display: block;
      width: 100%;
      height: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      transition: 0.3s ease; }
  .portfolioItem .text {
    float: right;
    width: 63%; }
    @media (max-width: 740px) {
      .portfolioItem .text {
        float: none;
        width: 100%; } }
  .portfolioItem h2 {
    margin-bottom: 0; }
  .portfolioItem .tech {
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    font-style: italic;
    font-size: 19px;
    font-size: 1.2rem; }
  .portfolioItem .portfolioBlurb {
    margin: 0 0 8px 0;
    margin: 0 0 .5rem 0; }
  .portfolioItem .visit {
    font-size: 19px;
    font-size: 1.2rem; }

.fotorama {
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0; }

.availability span {
  font-weight: bold; }

.about {
  background-color: #bfbfbf;
  margin: 16px 0 0 0;
  margin: 1rem 0 0 0;
  padding: 48px 0;
  padding: 3rem 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1); }
  .about img {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin: 1% 3% 0 0; }
    @media (max-width: 560px) {
      .about img {
        display: none; } }
  .about .text {
    width: auto;
    overflow: hidden; }

.skillsList {
  margin: 0 0 64px 0;
  margin: 0 0 4rem 0; }
  .skillsList ul {
    list-style: square; }
