//----------Variables
$primaryGrey: #3F3F3F;
$linkColor: #E74C3C;

//----------Media Queries
@mixin bp($point) {
	@if $point == redwood {
		@media (max-width: 1020px) { @content; }
	}

		@elseif $point == tree {
	    @media (max-width: 900px) { @content; }
	  }

	  @else if $point == sapling {
	    @media (max-width: 740px) { @content; }
	  }
    @else if $point == seedling {
    	@media (max-width: 560px) { @content; }
	  }
}

//----------Animations

@include keyframes (loading) {
  0%   { max-height: 0; }
  50%  { max-height: 100%; top: 0; background: darken($primaryGrey, 10%); }
  100% { max-height: 0; top: 100%; }
}

.loader {
  position: absolute;
  top:0; right:0; left:0; bottom:0;
  display: block;
  z-index: 100;
  width: 100%;
  
  .spinner {
    display: block;
    width: 50px;
    height: 50px;
    background: #ccc;
    position: relative;
    margin: 25% auto;
    border-radius: 25px;
    overflow: hidden;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px; height: 50px;
      background: $primaryGrey;
      max-height: 0;
      @include animation(loading 2s normal infinite);
    }
  }
}