form {
	@include clearfix;
	padding: 16px 0 0 0;
	padding: 1rem 0 0 0;

	.formSection {
		@include clearfix;
		margin: 0 0 16px 0;
		margin: 0 0 1rem 0;
	}

	label { 

		span {
		color: $linkColor;
		font-size: 24px;
		font-size: 1.5rem;
	}
}

	label, input, textarea {
		float: left;
		clear: left;
	}

	input, textarea {
		max-width: 95%;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px rgba(0,0,0, 0.1);
		padding: 5px 10px;
		font-size: 16px;
		font-size: 1rem;
		@include transition(border-color 0.3s ease-in-out);

		&:focus{
			border-color: $linkColor;
		}
	}

	.btn {
		color: #F3F3F3;
		background: $primaryGrey;
		border: none;
		padding: 13px 16px;
		padding: 0.8rem 1rem;
		font-size: 19px;
		font-size: 1.2rem;
		@include transition(all 0.2s ease-in-out);

		&:hover {
			background: lighten($primaryGrey, 15%);
		}
	}
}

//----------Contact Form 7 Overrides
form{

span.wpcf7-not-valid-tip {
	border-color: $linkColor;
	top: 10px;
	top: 0.6rem;
	left: 40px;
	left: 2.5rem;
}

div.wpcf7-response-output {
	margin: 16px 0;
	margin: 1rem 0;
}

div.wpcf7-validation-errors {
	border-color: $linkColor;
}
}