//Topbar Styles

.topBar {
	@include clearfix;
	position: relative;
	padding: 16px 0;
	padding: 1rem 0;
	border-bottom: 2px solid #555;
	font-size: 19px;
	font-size: 1.2rem;
	@include bp(tree) {
		text-align: center;
	}

	a {
		display: inline-block;
		width: 160px;
		width: 8rem;
		font-size: 18px;
		font-size: 1.1rem;
		text-align: center;
		border-bottom: none;
		@include transition(color 0.3s ease-in-out);
		@include bp(seedling) {
			display: block;
			margin: 0 auto;
		}

		&:hover {
			color: lighten($primaryGrey, 30%);
		}
	}

	.left{
		float: left;
		@include bp(tree) {
			float: none;
			display: block;
		}
	}

	.right {
		float: right;
		@include bp(tree) {
			float: none;
			display: block;
		}
	}

	nav {
		@include clearfix();
		.logo {
			position: absolute;
			left: 50%;
			bottom: -4rem;
			bottom: -64px;
			margin-left: -73px;
			> img {
				width: 100px;
				height: 100px;
			}
		}
		@include bp(tree) {
			margin: 1rem 0 2.5rem 0;
		}
	}

	//----------Menu Toggle Styles
	.menuToggle {
		display: none;
		position: absolute;
		top: 5px;
		right: 0;
	}
}
.navClosed {
	.menuToggle {
		display: inline;
	}
}

//----------Home Header Styles

.homeHeader {
	min-height: 400px;
	padding: 80px 0 0 0;
	padding: 5rem 0 0 0;
	font-size: 26px;
	font-size: 1.6rem;
	color: darken(whitesmoke, 12%);
	background: url(../img/mountains.jpg) no-repeat;
	background-size: cover;
	
.tagline{
	@include bp(seedling) {
		font-size: 83%;
	}

		p {
			float: right;
			margin-bottom: 1%;
		}

		.authorLine {
			font-style: italic;
		}
	}
}

body:not(.home) {
	.main {
		padding-top: 80px;
		padding-top: 5rem;
	}
}