@mixin bodyFont {
	font-family: "ff-tisa-web-pro",serif;
}

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//----------Global Type Styles

body {
	@include bodyFont;
	font-size: 140%;
	@include bp(seedling) {
		font-size: 110%;
	}
	line-height: 1.5;
}

p {
	margin-top: 0;
	margin-bottom: 3.125%;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.published {
	font-style: italic;
	font-size: 16px;
	font-size: 1rem;
	margin: 0 0 16px 0;
	margin: 0 0 1rem 0;
}

//----------Heading Styles

h1 {
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 1.2;
	@include bp(seedling) {
		font-size: 32px;
		font-size: 2rem;
	}
}

.postTitle {
	margin-bottom: 0;
}

h2 {
	font-size: 34px;
	font-size: 2.1rem;
}

h2,h3,h4,h5,h6 {
	margin: 0 0 11px 0;
	margin: 0 0 .7rem 0;
}

h4,h5,h6 {
	font-size: 26px;
	font-size: 1.6rem;
}

.h1 {
	font-size: 40px;
	font-size: 2.5rem
}

.h2 {
	font-size: 34px;
	font-size: 2.1rem;
}

.h3, .h4, h5, h6 {
	font-size: 26px;
	font-size: 1.6rem;
}