@import "bourbon";
@import "normalize";
@import "bits";
@import "fotorama";
@import "prism";
@import "typography";
@import "header";
@import "forms";

//----------Global Styles

* {
	@include box-sizing(border-box);
}

body {
	background-color: #f2f2f2;
	color: $primaryGrey;
}

::selection {
	background: lighten($primaryGrey, 60%);
}

.entry {
	padding: 0 0 32px 0;
	padding: 0 0 2rem 0;
}

//----------Containers

.contain {
	max-width: 1020px;
	margin: 0 auto;
	@include bp(redwood) {
		padding: 0 24px;
		padding: 0 1.5rem;
	}
}

.contain-type {
	max-width: 700px;
	margin: 0 auto;
	@include bp(sapling) {
		padding: 0 24px;
		padding: 0 1.5rem;
	}
}

//------------Links

a {
	color: $primaryGrey;
	border-bottom: 2px solid #E74C3C;
	text-decoration: none;
	@include transition(color 0.3s ease);

	&:hover {
		color: $linkColor;
	}
}

//----------Archive

.blogExcerpt {
	@include clearfix;
	margin: 16px 0 0 0;
	margin: 1rem 0 0 0;
	padding: 0 0 16px 0;
	padding: 0 0 1rem 0;
	border-bottom: 2px solid $primaryGrey;
	h2 {
		margin-bottom: 0;
	}

	.readOn {
		float: right;
	}

}

//----------Portfolio

.portfolioTitle {
	text-align: center;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}

.portfolioItem {
	@include clearfix;
	margin: 16px 0 0 0;
	margin: 1rem 0 0 0;
	padding: 0 0 16px 0;
	padding: 0 0 1rem 0;
	border-bottom: 2px solid $primaryGrey;

	&:last-of-type {
		border-bottom: none;
	}

	.portfolioPic {
		position: relative;
		width: 34%;
		float: left;
		@include bp(sapling) {
			float: none;
			width: 70%;
			margin: 0 auto 16px auto;
			margin: 0 auto 1rem auto;
		}
		margin: 0 3% 0 0;

		&.imgLoaded {

			img {
			opacity: 1;
		}
			.loader{
				opacity: 0;
			}

		}

		img {
			display: block;
			width: 100%;
			height: auto;
			box-shadow: 0 0 5px rgba(0,0,0,0.5);
			opacity: 0;
			@include transition(0.3s ease);
		}
	}

	.text {
		float: right;
		width: 63%;
		@include bp(sapling) {
			float: none;
			width: 100%;
		}
	}

	h2 {
		margin-bottom: 0;
	}

	.tech {
		margin: 0 0 16px 0;
		margin: 0 0 1rem 0;
		font-style: italic;
		font-size: 19px;
		font-size: 1.2rem;
	}

	.portfolioBlurb {
		margin: 0 0 8px 0;
		margin: 0 0 .5rem 0;
	}

	.visit {
		font-size: 19px;
		font-size: 1.2rem;
	}
}

//----------Photography

.fotorama {
	margin: 0 0 16px 0;
	margin: 0 0 1rem 0;
}

//----------Contact

.availability {
	span {
		font-weight: bold;
	}
}


//----------About Footer

.about {
	background-color: lighten($primaryGrey, 50%);
	margin: 16px 0 0 0;
	margin: 1rem 0 0 0;
	padding: 48px 0;
	padding: 3rem 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);

	img {
		width: 200px;
		border-radius: 100px;
		float: left;
		margin: 1% 3% 0 0;
		@include bp(seedling) {
			display: none;
		}
	}

	.text {
		width: auto;
		overflow: hidden;
	}
}

//----------Skills

.skillsList {
	margin: 0 0 64px 0;
	margin: 0 0 4rem 0;

	ul {
		list-style: square;
	}
}